<div class="form-central">
  <form>
    <div class="imgcontainer">
      <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Nome Usuario</b></label>
      <input type="text" [(ngModel)]="Login.nomeUsuario" placeholder="Digite o nome do usuario" name="uname">
  
      <label for="psw"><b>Senha</b></label>
      <input type="password" [(ngModel)]="Login.senha" placeholder="Digite a senha" name="psw">
          
      <button type="button" (click)="ExecuteLogin()">Login</button>      
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <span class="psw">Novo Usuario ? <a href="/NewAccount">Click Aqui.</a></span>
    </div>
  </form>
</div>  
<app-toast></app-toast>